doctype htmls
html
  head
    title Mimosa
    link(rel='stylesheet', href='/stylesheets/style.css' + cachebust)

    if reload
      script(src='/socket.io/socket.io.js')
      script(src='/javascripts/reload-client.js')

    if optimize
      script(src='/javascripts/main-built.js')
    else
      script(src='/javascripts/vendor/requirejs/require.js', data-main='/javascripts/main.js')

  body
    block content
  
    img(src='http://www.lolcats.com/images/u/12/43/lolcatsdotcomlikemyself.jpg')
    img(src='http://www.lolcats.com/images/u/12/43/lolcatsdotcomnapkin.jpg')
    img(src='http://www.lolcats.com/images/u/12/24/lolcatsdotcompromdate.jpg')
    img(src='http://www.lolcats.com/images/u/07/22/lolcatsdotcomib5v9oe8urvsgmh0.jpg')
    img(src='http://www.lolcats.com/images/u/08/29/lolcatsdotcompf8w6i8liikl5j5x.jpg')
